<h4>Product Name: <%= @product[1] %></h4>
<h4>Product Count: <%= @product[2] %></h4>
<h4>Product Price: <%= @product[3] %></h4>
<h4>Product Creator: <%= @product[4] %></h4>

<p><a href="/products/<%= @product[0] %>/edit">Edit product</a></p>
<a href="/products">Return to product list</a>